.item-main__edit-box {
  width: 700px;
  margin: 24px auto;
  background: #fff;
  padding: 8px 16px 8px 16px;
  &__btn, &__restart, &__delete {
    margin: 16px 0 16px 0;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    a {
      color: #fff;
    }
  }
  &__delete {
    background: #aaa;
    border: 1px solid #aaa;
  }
  &__text {
    font-size: 16px;
    text-align: center;
  }
}