.dropzone-container {
  display: block;
  width: 620px;
  margin: 16px auto 0;
  .box, .box2 {
    display: flex;
    #preview, #preview2 {
      display: flex;
      .img_view {
        width: 116px;
        margin: 0 0 10px 10px;
        img {
          width: 116px;
          height: 116px;
        }
        .btn_wrapper {
          .btn.delete {
            text-align: center;
            color: #0099e8;
            background-color: #f5f5f5;
          }
        }
      }
    }
    .dropzone-area, .dropzone-area2 {
      background: #f5f5f5;
      cursor: pointer;
      width: 100%;
      border: 2px dashed #ccc;
      height: 142px;
      .input_area {
        display: none;
      }
      .input-area-text {
        width: 100%;
        height: 142px;
        text-align: center;
        p {
          padding-top: 50px;
        }
      }
    }
    .dropzone-area2 {
      display: none;
    }
  }
}