.footer-simple
  .footer-simple__box
    .footer-simple__box__info
      %ul
        %li プライバシーポリシー
        %li 利用規約
        %li 特定商取引に関する表記
    .footer-simple__box__logo
      = image_tag("logo_gray.svg", height: "65px", width: "80px")
    .footer-simple__box__mer
      © Fmarket, Inc.
