.bottom-content__item__category__menu
  %ul.bottom-content__item__category__menu__list
    %li.bottom-content__item__category__menu__list__ladies
      %a{ href: "#"}
      レディース
      %ul.bottom-content__item__category__menu__list__ladies__kind
        %li.bottom-content__item__category__menu__list__ladies__tops
          %a{ href: "#"}
          トップス
          %ul.bottom-content__item__category__menu__list__ladies__tops__kind
            %li.bottom-content__item__category__menu__list__ladies__tops__kind__
              %a{ href: "#"}
              トップス
        %li
          %a{ href: "#"}
          ジャケット/アウター
        %li
          %a{ href: "#"}
          パンツ
        %li
          %a{ href: "#"}
          スカート
        %li
          %a{ href: "#"}
          靴
        %li
          %a{ href: "#"}
          ルームウェア/パジャマ
        %li
          %a{ href: "#"}
          レッグウェア
        %li
          %a{ href: "#"}
          帽子
        %li
          %a{ href: "#"}
          バッグ
        %li
          %a{ href: "#"}
          アクセサリー
        %li
          %a{ href: "#"}
          ヘアアクセサリー
        %li
          %a{ href: "#"}
          小物
        %li
          %a{ href: "#"}
          時計
    %li
      %a{ href: "#"}
      メンズ
      %ul.bottom-content__item__category__menu__mens
        %li
          %a{ href: "#"}
          トップス
        %li
          %a{ href: "#"}
          ジャケット/アウター
        %li
          %a{ href: "#"}
          パンツ
        %li
          %a{ href: "#"}
          靴
        %li
          %a{ href: "#"}
          バッグ
        %li
          %a{ href: "#"}
          スーツ
        %li
          %a{ href: "#"}
          帽子
        %li
          %a{ href: "#"}
          アクセサリー
        %li
          %a{ href: "#"}
          小物
        %li
          %a{ href: "#"}
          時計
        %li
          %a{ href: "#"}
          水着
        %li
          %a{ href: "#"}
          レッグウェア
        %li
          %a{ href: "#"}
          アンダーウェア
        %li
          %a{ href: "#"}
          その他
    %li
      %a{ href: "#"}
      ベビー・キッズ
    %li
      %a{ href: "#"}
      インテリア・住まい・小物
    %li
      %a{ href: "#"}
      本・音楽・ゲーム
    %li
      %a{ href: "#"}
      おもちゃ・ホビー・グッズ
    %li
      %a{ href: "#"}
      コスメ・香水・美容
    %li
      %a{ href: "#"}
      家電・スマホ・カメラ
    %li
      %a{ href: "#"}
      スポーツ・レジャー
    %li
      %a{ href: "#"}
      ハンドメイド
    %li
      %a{ href: "#"}
      チケット
    %li
      %a{ href: "#"}
      自動車・オートバイ
    %li
      %a{ href: "#"}
      その他
    %li
      %a{ href: "#"}
      カテゴリー一覧