.bottom-content__item__category__menu 
  %ul.bottom-content__item__category__menu__list.Category
    %li.bottom-content__item__category__menu__list__ladies.CategoryPart
      %a.bottom-content__item__category__menu__list__ladies__Atag{ href: "#"}
        レディース
      %ul.bottom-content__item__category__menu__list__ladies__list.Ladies
        %li.bottom-content__item__category__menu__list__ladies__list__tops.LadiesCategoryPart
          %a.bottom-content__item__category__menu__list__ladies__list__tops__Atag{ href: "#"}
            トップス
          %ul.bottom-content__item__category__menu__list__ladies__list__tops__list.Tops
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                Tシャツ/カットソー(半袖/袖無し)
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                Tシャツ/カットソー(七分/長袖)
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                シャツ/ブラウス(半袖/袖無し)
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                Tシャツ/カットソー(七分/長袖)
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                ポロシャツ
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                キャミソール
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                タンクトップ
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                ホルターネック
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                ニット/セーター
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                チュニック
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                カーディガン/ボレロ
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                アンサンブル
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                ベスト/ジレ
            %li.LadiesCategoryTopsPart
              %a{ href: "#"}
                パーカー
        %li.bottom-content__item__category__menu__list__ladies__list__outer.LadiesCategoryPart
          %a{ href: "#"}
            ジャケット/アウター
        %li.bottom-content__item__category__menu__list__ladies__list__pants.LadiesCategoryPart
          %a{ href: "#"}
            パンツ
        %li.bottom-content__item__category__menu__list__ladies__list__skirt.LadiesCategoryPart
          %a{ href: "#"}
            スカート
        %li.bottom-content__item__category__menu__list__ladies__list__shoes.LadiesCategoryPart
          %a{ href: "#"}
            靴
        %li.bottom-content__item__category__menu__list__ladies__list__pajamas.LadiesCategoryPart
          %a{ href: "#"}
            ルームウェア/パジャマ
        %li.bottom-content__item__category__menu__list__ladies__list__legwear.LadiesCategoryPart
          %a{ href: "#"}
            レッグウェア
        %li.bottom-content__item__category__menu__list__ladies__list__headgear.LadiesCategoryPart
          %a{ href: "#"}
            帽子
        %li.bottom-content__item__category__menu__list__ladies__list__bag.LadiesCategoryPart
          %a{ href: "#"}
            バッグ
        %li.bottom-content__item__category__menu__list__ladies__list__accessories.LadiesCategoryPart
          %a{ href: "#"}
            アクセサリー
        %li.bottom-content__item__category__menu__list__ladies__list__hearaccessories.LadiesCategoryPart
          %a{ href: "#"}
            ヘアアクセサリー
        %li.bottom-content__item__category__menu__list__ladies__list__smallarticle.LadiesCategoryPart
          %a{ href: "#"}
            小物
        %li.bottom-content__item__category__menu__list__ladies__list__wathch.LadiesCategoryPart
          %a{ href: "#"}
            時計
    %li.bottom-content__item__category__menu__list__mens.CategoryPart
      %a{ href: "#"}
        メンズ
      %ul.bottom-content__item__category__menu__mens.Mens
        %li.bottom-content__item__category__menu__list__mens__list__tops.MensCategoryPart
          %a{ href: "#"}
            トップス
        %li.bottom-content__item__category__menu__list__mens__list__outer.MensCategoryPart
          %a{ href: "#"}
            ジャケット/アウター
        %li.bottom-content__item__category__menu__list__mens__list__pants.MensCategoryPart
          %a{ href: "#"}
            パンツ
        %li.bottom-content__item__category__menu__list__mens__list__shoes.MensCategoryPart
          %a{ href: "#"}
            靴
        %li.bottom-content__item__category__menu__list__mens__list__bag.MensCategoryPart
          %a{ href: "#"}
            バッグ
        %li.bottom-content__item__category__menu__list__mens__list__suit.MensCategoryPart
          %a{ href: "#"}
            スーツ
        %li.bottom-content__item__category__menu__list__mens__list__headgear.MensCategoryPart
          %a{ href: "#"}
            帽子
        %li.bottom-content__item__category__menu__list__mens__list__accessories.MensCategoryPart
          %a{ href: "#"}
            アクセサリー
        %li.bottom-content__item__category__menu__list__mens__list__smallarticle.MensCategoryPart
          %a{ href: "#"}
            小物
        %li.bottom-content__item__category__menu__list__mens__list__watch.MensCategoryPart
          %a{ href: "#"}
            時計
        %li.bottom-content__item__category__menu__list__mens__list__swimSuit.MensCategoryPart
          %a{ href: "#"}
            水着
        %li.bottom-content__item__category__menu__list__mens__list__legwear.MensCategoryPart
          %a{ href: "#"}
            レッグウェア
        %li.bottom-content__item__category__menu__list__mens__list__underwear.MensCategoryPart
          %a{ href: "#"}
            アンダーウェア
        %li.bottom-content__item__category__menu__list__mens__list__other.MensCategoryPart
          %a{ href: "#"}
            その他
    %li.bottom-content__item__category__menu__list__BabyKids.CategoryPart
      %a{ href: "#"}
        ベビー・キッズ
    %li.bottom-content__item__category__menu__list__interior.CategoryPart
      %a{ href: "#"}
        インテリア・住まい・小物
    %li.bottom-content__item__category__menu__list__BookMusicGame.CategoryPart
      %a{ href: "#"}
        本・音楽・ゲーム
    %li.bottom-content__item__category__menu__list__HobbyGoods.CategoryPart
      %a{ href: "#"}
        おもちゃ・ホビー・グッズ
    %li.bottom-content__item__category__menu__list__cosmetics.CategoryPart
      %a{ href: "#"}
        コスメ・香水・美容
    %li.bottom-content__item__category__menu__list__electricalappliances.CategoryPart
      %a{ href: "#"}
        家電・スマホ・カメラ
    %li.bottom-content__item__category__menu__list__sports.CategoryPart
      %a{ href: "#"}
        スポーツ・レジャー
    %li.bottom-content__item__category__menu__list__handmaid.CategoryPart
      %a{ href: "#"}
        ハンドメイド
    %li.bottom-content__item__category__menu__list__ticket.CategoryPart
      %a{ href: "#"}
        チケット
    %li.bottom-content__item__category__menu__list__vehicle.CategoryPart
      %a{ href: "#"}
        自動車・オートバイ
    %li.bottom-content__item__category__menu__list__other.CategoryPart
      %a{ href: "#"}
        その他
    %li.bottom-content__item__category__menu__list__categorylist.CategoryPart
      %a{ href: "#"}
        カテゴリー一覧