.mypage-wrapper {
  background-color: #f5f5f5;
}

.mypage-main {
  display: flex;
  justify-content: center;
  padding: 0 0 40px;
}

.mypage-main__container {
  width: 700px;
  &__icon {
    background-image: url(meadow.jpg);
    background-size: cover;
    height: 200px;
    width: 100%;
    padding: 20px;
    text-align: center;
    position: relative;
    &__content {
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      &__image {
        .icon {
          font-size: 40px;
        }
      }
      &__name {
        margin: 8px 0 0;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
      }
      &__text {
        margin: 8px 0 0;
        display: inline-block;
        font-size: 14px;
      }
    }
  }
  &__tabs {
    margin: 0;
    background: #fff;
    &__tab {
      display: flex;
      &__info, &__todo {
        display: inline-block;
        width: 50%;
        text-align: center;
        position: relative;
        display: block;
        color: #333;
        font-size: 16px;
        line-height: 72px;
      }
    }
    &__contents {
      &__box {
        li {
          border-bottom: 1px solid #eee;
          min-height: 80px;
          padding: 16px;
          color: #333;
        }
        &__list {
          display: flex;
          position: relative;
          img {
            position: absolute;
          }
          &__text {
            margin: 0 40px 0 68px;
            font-size: 14px;
          }
          .fas {
            position: absolute;
            top: 50%;
            right: 10px;
          }
        }
        .go-list {
          padding: 16px;
          &__btn {
            height: 56px;
            margin: 0 auto;
            background: #eee;
            color: #333;
            line-height: 56px;
            text-align: center;
            font-size: 14px;
          }
        }
      }
    }
  }
  &__box {
    margin: 40px 0 0;
    background: #fff;
    &__head {
      padding: 0 16px;
      background: #fafafa;
      font-size: 16px;
      line-height: 72px;
      font-weight: 600;
    }
    &__tabs {
      &__tab {
        display: flex;
        &__trading, &__past {
          display: inline-block;
          width: 50%;
          text-align: center;
          position: relative;
          display: block;
          color: #333;
          font-size: 16px;
          line-height: 72px;
        }
      }
    }
  }
}