.mypage-main__container__box__head {
  background-color: #fff;
}

.mypage-main__container__box__lists {
  width: 100%;
  a {
    display: inline-block;
    width: 33.3%;
    text-align: center;
    position: relative;
    color: #333;
    font-size: 16px;
    line-height: 72px;
    font-weight: 600;
  }
  &__active {
    border-top: 2px solid red;
  }
  &__inactive {
    background-color: #eee;
  }
}

.mypage-main__container__box__no-product {
  background: image-url("logo_gray.svg");
  background-repeat: no-repeat;
  padding: 160px 0 60px;
  background-position: center 40px;
  background-size: 85px 120px;
  text-align: center;
  font-size: 16px;
  color: #ccc;
}

.mypage-main__container__box__products {
  &__product {
    border-bottom: 1px solid #eee;
    display: flex;
    min-height: 80px;
    padding: 16px;
    color: #333;
    position: relative;
    &__image {
      img {
        width: 48px;
        height: 48px;
      }
    }
    &__content {
      font-size: 14px;
      margin-left: 10px;
      &__icon {
        margin-top: 5px;
        .far {
          margin: 5px;
        }
      }
    }
    &__arrow {
      position: absolute;
      top: 30px;
      right: 20px;
    }
  }
}