@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";

@import "mixin/mixins";

@import "mypage/side-bar";
@import "mypage/index";
@import "mypage/logout";

@import "product/index";
@import "product/new";
@import "product/exhibit-btn";

@import "shared/footer-simple";
@import "shared/footer";
@import "shared/header-simple";
@import "shared/header";

@import "slick-theme";
@import "slick";


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}