@import "./reset";
@import "font-awesome-sprockets";
@import "./font-awesome";
@import "mixin/mixins";

@import "devise/registrations/registration";
@import "devise/sessions/new";
@import "devise/shared/header-registration";

@import "mypage/side-bar";
@import "mypage/index";
@import "mypage/logout";
@import "mypage/listing";
@import "mypage/profile";
@import "mypage/identification";

@import "product/index";
@import "product/new";
@import "product/dropzone";
@import "product/show";
@import "product/exhibit-btn";

@import "shared/footer-simple";
@import "shared/footer";
@import "shared/header-simple";
@import "shared/header";

@import "user/index";

@import "slick-theme";
@import "slick";


* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}