.toppage-exhibit-btn
  = link_to new_product_path do
    .toppage-exhibit-btn__box
      .toppage-exhibit-btn__box--text
        出品
      .toppage-exhibit-btn__box--icon
        = icon('fas', 'camera', class: 'icon')